body
{
	background-color:pink;
}


h1
{
		color:blue;
text-align:center;
font-size:50px;
font-family:verdhana, italic;
margin-right:25px;
margin-left:25px;
border-style:dotted;
border-(sub-property):(top)(bottom)(left)(right);
border-color: white yellow brown red;
}
.types
{
	color:pink;
	font-family:fantasy;
}
