<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Task  List</h2>
    </div>
    <div class="panel-body">
      <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">

        <thead>
          <tr>
            <th >Task Id</th>
            <th >Task Name</th>
            <th >Description</th>
            <th >Status</th>
            <th>Priority</th>
            <th >Notes</th>
            <th >Bookmark</th>
            <th >OwnerId</th>
            <th >Creator ID</th>
            <th>Created On</th>
            <th>Modified On</th>
            <th>Actions</th>
            
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let task of tasks  | async ">
            <td>{{task.taskId}}</td>
            <td>{{task.taskName}}</td>
            <td>{{task.description}}</td>
            <td>{{task.status}}</td>
            <td>{{task.priority}}</td>
            <td>{{task.notes}}</td>
            <td>{{task.bookmark}}</td>
            <td>{{task.ownerId}}</td>
            <td>{{task.creatorId}}</td>
            <td>{{task.createdOn}}</td>
            <td>{{task.modifiedOn}}</td>
            

            
             <td><button style='margin-right:16px' (click)="deleteTask(task.taskId)" class="btn btn-danger mx-3">Delete</button>
                <button style='margin-right:16px' (click)="updateTask(task.taskId)" class="btn btn-success  mx-3" style="margin-left: 10px">Edit details</button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


